html,
body {
    box-sizing: border-box;

}

h1 {
    font-family: 'Piedra',
        cursive;
    text-shadow: 0 0 3px #fcfcfc,
        0 0 5px #000000;
}
.offer{
    text-align: center;
}

p {
    font-family: 'Special Elite',
        cursive;
}
hr{
    width: 75%;
    height:3px;
    border-width:0;
    color:gray;
    background-color:gray
}

#welcomeSec,
#aboutUs,
#menuSec,
#footerSec {
    width: 100%;
    padding-top: 50px;

}
#footerSec{
    background-image: url(../images/backgrounds/4O2N6x.jpg);

}
.footer{
    background-color: rgba(0, 0, 0, 0.4);
}

